@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
}

.heart {
  color: red;
  font-size: 50px;
  margin-left: 10px;
}
.spade {
  color: black;
  font-size: 50px;
  margin-left: 10px;
}
.club {
  color: black;
  font-size: 50px;
  margin-left: 10px;
}

.diamond {
  color: red;
  font-size: 50px;
  margin-left: 10px;
}

.theCard {
  width: 200px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 10px;
}

.theMiddle {
  font-size: 100px;
}

.heartBottom {
  color: red;
  font-size: 50px;
  margin-left: 10px;
  padding: 10px;
  font-size: 50px;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
}
.spadeBottom {
  color: black;
  font-size: 50px;
  margin-left: 10px;
  padding: 10px;
  font-size: 50px;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
}
.clubBottom {
  color: black;
  font-size: 50px;
  margin-left: 10px;
  padding: 10px;
  font-size: 50px;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
}

.diamondBottom {
  color: red;
  font-size: 50px;
  margin-left: 10px;
  padding: 10px;
  font-size: 50px;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
}
